JWT_SECRET=secret

MONGO_LOGIN=admin
MONGO_PASSWORD=admin
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DATABASE=nest-monorepo
MONGO_AUTHDATABASE=admin

AMQP_EXCHANGE=monorepo
AMQP_USER=guest
AMQP_PASSWORD=guest
AMQP_HOSTNAME=monorepo.account
AMQP_QUEUE=localhost
